<!-- your html code here -->
      <div class="container">
        <h3>Portfolio</h3>
        <p>Here is our portfolio Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eligendi consequuntur dolore vel ex iste veritatis ea quas. Quis sint id beatae molestias quisquam maiores ratione dolorum laudantium quas esse!</p>
      </div>  
        
          <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="container d-flex">
                  <div class="card me-3" style="width: 25rem;">
                    <img src="https://cdn.pixabay.com/photo/2021/12/09/19/01/globe-6858907_1280.jpg" class="card-img-top" alt="img_error">
                    <div class="card-body">
                      <h5 class="card-title">Project Name</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam sapiente quidem magnam modi labore, necessitatibus sit, dolorem, earum illum natus culpa. Optio aliquam aperiam quam consequatur nemo provident officia dolor?</p>
                    </div>
                  </div>
                  <div class="card me-3" style="width: 25rem;">
                    <img src="https://images.unsplash.com/photo-1568952433726-3896e3881c65?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fHRlY25vbG9naWF8ZW58MHx8MHx8fDA%3D" class="card-img-top" alt="img_error">
                    <div class="card-body">
                     <h5 class="card-title">Project Name</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ipsam, velit vitae in cupiditate, distinctio quod atque ex totam animi sunt soluta veritatis nulla autem, commodi quis odit repudiandae doloremque.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 25rem;">
                    <img src="https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzV8fHRlY25vbG9naWF8ZW58MHx8MHx8fDA%3D" class="card-img-top" alt="img_error">
                    <div class="card-body">
                      <h5 class="card-title">Project Name</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, hic necessitatibus temporibus ut suscipit obcaecati expedita aliquam mollitia aut, laboriosam, adipisci est sunt porro aspernatur. Laboriosam obcaecati nisi accusamus mollitia.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container d-flex">
                  <div class="card me-3" style="width: 25rem;">
                    <img src="https://plus.unsplash.com/premium_photo-1663050633633-2856e875dcc7?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NzN8fGNvZGV8ZW58MHx8MHx8fDA%3D" class="card-img-top" alt="img_error">
                    <div class="card-body">
                      <h5 class="card-title">Project Name</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam sapiente quidem magnam modi labore, necessitatibus sit, dolorem, earum illum natus culpa. Optio aliquam aperiam quam consequatur nemo provident officia dolor?</p>
                    </div>
                  </div>
                  <div class="card me-3" style="width: 25rem;">
                    <img src="https://images.unsplash.com/photo-1566837945700-30057527ade0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGNvZGV8ZW58MHx8MHx8fDA%3D" class="card-img-top" alt="img_error">
                    <div class="card-body">
                     <h5 class="card-title">Project Name</h5>
                     <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ipsam, velit vitae in cupiditate, distinctio quod atque ex totam animi sunt soluta veritatis nulla autem, commodi quis odit repudiandae doloremque.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 25rem;">
                    <img src="https://images.unsplash.com/photo-1496065187959-7f07b8353c55?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fHRlY25vbG9naWF8ZW58MHx8MHx8fDA%3D" class="card-img-top" alt="img_error">
                    <div class="card-body">
                      <h5 class="card-title">Project Name</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, hic necessitatibus temporibus ut suscipit obcaecati expedita aliquam mollitia aut, laboriosam, adipisci est sunt porro aspernatur. Laboriosam obcaecati nisi accusamus mollitia.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>