<!-- your html code here -->
    <div class="container">
        <h3>Portfolio</h3>
        <p>Here is our portfolio Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui eligendi consequuntur dolore vel ex iste veritatis ea quas. Quis sint id beatae molestias quisquam maiores ratione dolorum laudantium quas esse!</p>
        <div class="card" style="width: 18rem;">
            <img src="https://cdn.pixabay.com/photo/2021/12/09/19/01/globe-6858907_1280.jpg" class="card-img-top" alt="img_error">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
       